* {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0 10px;                
}

button {
    cursor: pointer;
}
a {
    color: black;
    text-decoration: none !important;
    padding: none;
    &:visited {
        color: black;
    }
}

.green-text {
    color: rgb(3, 87, 10);
}

header {
    display: flex;
    justify-content: space-evenly;
    margin: none;
    align-items: center;
    padding: 0 0 40px;
    background-color: white;
    transition: all .5s linear;
    width: auto;
}

.nav-btn {
    padding: 20px 2px 0 2px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
    cursor: pointer;
    background-color: inherit;
    border: none;
    border-bottom: 4px solid white;
    transition: border-color .3s linear;
    min-width: 80px;
    &:hover {
        border-color: rgb(15, 153, 26);
        width: auto;
    }
}

// .contattaci {
//     grid-area: contattaci;
//     width: 100px;
//     justify-self: center;
//     background-color: rgb(166, 206, 106);
//     box-shadow: 0px 3px 7px -2px black;
//     border: none;
//     padding: 12px 12px;
//     font-weight: 100;
//     cursor: pointer;
//     transition: all .3s linear;
//     &:hover {
//         background-color: rgba(166, 206, 106, .7);
//     }
// }

.card-title {
    font-size: 10px;
}

#top-btn {
    position: fixed;
    z-index: 10;
    bottom: 10vh;
    right: 10vh;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 40px;
    background-color: white;
    color: black;
    cursor: pointer;
    animation: slideUp .2s linear;
    box-shadow: 1px 3px 6px -2px black;
}

@keyframes slideUp {
    0% {
        bottom: 0;
        opacity: 0;
    }
}
/* -------header ends here------- */

.bar {
    width: 460px;
    padding: 60px;
}

.bar-title {
    @extend .green-text;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.9em;
    padding: 0 0 30px 0;
}

.bar-content {
    width: 460px;
    line-height: 40px;
}

.parallax {
    padding: 8vw 13vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.left {
    background-color: rgba(67, 148, 48, .85);
    & > section {
        background-color: rgba(255, 255, 255, .85);
    }
}
.right {
    background-color: rgba(255, 255, 255, .85);
    & > section {
        margin-left: auto;
        margin-right: 0;
        background-color: rgba(194, 211, 190, .85);
        // margin-left: 27vw;  
    }
}

#servizi {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    height: 40vw;
    padding: 20px 0 0 0;
}

.overlap {
    overflow: hidden;
    display: grid;
    cursor: pointer;
    & > * {
        grid-column: 1;
        grid-row: 1;
        max-width: 100%;
        max-height: 100%;
    }

    &:hover {
        & > .dettagli{
            background-color: rgb(57, 105, 65);
            & > .dettagli-btn {
                color: rgb(57, 105, 65);
                background-color: white;
            }
        }

        & > .overlap-img {
            transform: scale(1.2);
        }
    }
}

.overlap-img {
    object-fit: unset;
    height: 40vw;
    transition: .4s linear;
}

.dettagli {
    color: white;
    background-color: rgba(57, 105, 65, 0.712);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    z-index: 1;
    height: 100%;
    transition: all .5s linear;
    font-size: 1.2em;
}

.dettagli-btn {
    transition: all .5s linear;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 10px 20px;
}

#contattaci {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    & > * {    
        padding: 20px 0;
    }
}

#orari {
    text-align: center;
    display: inline-block;
    background-color: rgba(212, 189, 169, .4);
}

#email-form {
    display: grid;
    grid-template-areas: 
    "nome email"
    "oggetto oggetto"
    "telefono telefono"
    "indirizzo indirizzo"
    "messaggio messaggio"
    "invia invia";
    grid-gap: 10px;
    padding: 0 20px;
    & > input,
    & > textarea {
        border: 0;
        border-bottom: solid 1px black;
        padding: 2px;

        &::placeholder{
            color: rgb(105, 105, 105);
        }
    }
}

.nome {
    grid-area: nome;
}

.email {
    grid-area: email;
}

.oggetto {
    grid-area: oggetto;
}

.telefono {
    grid-area: telefono;
}

.indirizzo {
    grid-area: indirizzo;
}

.messaggio {
    grid-area: messaggio;
    resize: none;
    height: 120px
}

.invia {
    grid-area: invia;
    border: 0;
    padding: 2px;
    cursor: pointer;
    background-color: transparent;
    & > span {
        border-bottom: 2px solid black;
    }
}

sup {
    font-size: .5em;
}

@media screen and (max-width: 800px){
    header {
        flex-wrap: wrap;
        margin: none !important;
    }

    .bar {
        padding: 2vw;
        max-width: 100%;
        & > section {
            box-sizing: border-box;
        }
    }

    .parallax {
        padding: 0;
        margin: none !important;
    }

    #servizi {
        height: 120vh;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
        padding: 20px 0 0 0;
    }

    .overlap-img{
        object-fit: cover;
        width: 100%;
        height: unset;
    }

    #contattaci {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, minmax(0,50%));
    }

    #orari {
        padding: 10px 10px 20px;
    }

    #email {
        padding-top: 10px;
    }

    #email-form {
        padding: 20px 20px 10px;
        min-width: auto;
        grid-template-areas: 
        "nome"
        "email"
        "oggetto"
        "telefono"
        "indirizzo"
        "messaggio"
        "invia";
        box-shadow: 0px 3px 10px -4px black;
        margin: 10px 0 40px 0;

        & > * {
            box-sizing: content-box;
        }
    }
}